<?xml version = "1.0" encoding = "UTF-8"?>

<suite name = "Test Suite">
    <test name = "Test 1">
        <classes>
            <class name = "Android.Toast_Test" />
        </classes>
    </test>
    <test name = "Test 2">
        <classes>
            <class name = "Android.CheckBox_Test" />
        </classes>
    </test>
    <test name = "Test 3">
        <classes>
            <class name = "Android.Registration_Test" />
        </classes>
    </test>
</suite>